{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://kit.fontawesome.com/488146a138.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css"/>
    <link rel="stylesheet" href="{% static 'accounts/css/base.css' %}"/>
</head>
<body>
    <nav class="header">
        <label for="header-check" class="menu-btn"><i class="fa-solid fa-bars" style="color: #003b3b;"></i></label>
        <label for="" class="logo">ComfortPlace</label>
        <input type="checkbox" id="header-check">
        <ul>
            <li><a href="{% url 'index' %}">Главная</a></li>
            <li><a href="#">Че-нибудь ещё</a></li>
            {% if request.user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Выйти</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Войти</a></li>
                <li><a href="{% url 'register' %}">Зарегистрироваться</a></li>
            {% endif %}
        </ul>
    </nav>
    <div>{% block content %}{% endblock %}</div>
<script>Fancybox.bind("[data-fancybox]", {});</script>
</body>
</html>