.header-white {
    color: white;
    text-shadow: 1px 1px 7px rgb(106, 220, 241);
    margin: 3px;
}

.header-blue {
    color: rgb(45, 134, 147);
    text-shadow: 1px 1px 7px rgb(106, 220, 241);
    margin: 3px;
}

.text-white {
    color: white;
}

.text-blue {
    color: rgb(14, 111, 126);
}

.page-header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 0 30px 0;
    flex-wrap: wrap;
}

.header-button {
    border-radius: 15px;
    color: white;
    text-decoration: none;
    padding: 8px;
    transition: all 0.7s linear;
}

.header-button:hover {
    color: rgb(45, 134, 147);
    background-color: white;
    transition: all 0.3s linear;
}
