@media screen and (max-width: 767px) {
    .outer-theme-container {
        left: 3%;
        width: 94%;
    }

    .main-theme-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .info-theme-container {
        font-size: 12px;
    }

    .pictureless-theme {
        margin-left: 0;
        width: 100%;
    }
}